@media (max-width: 990px) {
  .contact-location-disc {
    width: 260px !important;
  }
}

@media (max-width: 768px) {
  .navbar-toggler .movail-btn {
    cursor: pointer;
    margin: 0;
    padding: 0;
  }
  .navbar .logo img {
    width: 140px !important;
  }

  .dropdown-menu.my-dropdown-menu {
    left: -150px;
  }
}

@media (max-width: 490px) {
  #carousel .carousel-item {
    height: 395px;
    width: 100%;
    background: no-repeat center right scroll;
    background-size: revert;
    background-position: 95% 48%;
  }
  .dropdown-menu.my-dropdown-menu {
    left: -205px;
  }

  .commonBtn {
    padding: 7px 8px;
  }
  .navbar .commonBtn {
    padding: 7px 8px;
    font-size: 13px;
  }
  .navbar .logo img {
    width: 124px !important;
  }
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
  #carousel .carousel-item {
    height: 395px;
    width: 100%;
    background: no-repeat center right scroll;
    background-size: revert;
    background-position: 90% 48%;
  }
}
