@media (max-width: 990px) {
  .dropdown-menu.my-dropdown-menu {
    left: -150px;
  }

  .contact-location-disc {
    width: 260px !important;
  }
}

@media (max-width: 767px) {
  .commonBtn {
    margin-bottom: 25px !important;
    margin-bottom: 25px !important;
    padding: 6px 12px;
    font-size: 14px;
  }
  .navbar .logo a span {
    font-size: 45px !important;
  }

  .movail-btn {
    padding: 0;
  }
}

@media (max-width: 490px) {
  #carousel .carousel-item {
    height: 395px;
    width: 100%;
    background: no-repeat center right scroll;
    background-size: revert;
    background-position: 95% 48%;
  }
  .dropdown-menu.my-dropdown-menu {
    left: -185px;
  }
  .navbar .logo a span {
    font-size: 35px !important;
  }
}
@media (max-width: 320px) {
  #carousel .carousel-item {
    height: 395px;
    width: 100%;
    background: no-repeat center right scroll;
    background-size: revert;
    background-position: 90% 48%;
  }
}
