/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

/* default css */
body {
  font-weight: normal;
  font-style: normal;
  position: relative;
}
a {
  text-decoration: none !important;
  color: black;
  font-family: "Roboto", sans-serif;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

li {
  display: inline-block;
  list-style: none;
}
button {
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

h2,
h3,
h1,
h4 {
  font-family: "Aveta !important";
  font-weight: bold !important;
}

.my-line {
  background-color: #e30047;
  height: 3px;
  width: 85px;
  margin: auto;
  display: inline-block;
}

/*  default css */

/* Header Css Start ************************************** */
.header-area {
  padding: 20px 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  overflow: hidden;
  margin: auto;
}

.header-area .main-menu ul li a {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 10px;
  transition: 0.4s;
}
.header-area .main-menu ul li a:hover {
  color: #e30047;
}

.header-area .nav-btn {
  background-color: #e30047;
  color: white;
  padding: 10px 25px;
  border-radius: 3px;
  border: 2px solid #e30047;
  font-weight: 500;
  transition: 0.4s;
}
.header-area .nav-btn:hover {
  color: #e30047;
  background-color: transparent;
}

/* Header Css End */

/* Hero Slider Section Css Start ******************************* */
#carousel .carousel-item.item-1 {
  background-image: url("../img/slider-2.webp");
}

#carousel .carousel-item.item-2 {
  background-image: url("../img/slider-1.webp");
}

#carousel .carousel-item.item-3 {
  background-image: url("../img/slider-2.webp");
}

#carousel .carousel-item {
  height: 510px;
  width: 100%;
  min-height: 350px;
  background: no-repeat center center scroll;
  background-size: cover;
}

#carousel .carousel-item .caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  color: white;
  animation-duration: 1s;
  animation-delay: 2s;
}

#carousel .caption h2 {
  animation-duration: 1s;
  animation-delay: 2s;
}

#carouselExampleInterval .caption p {
  animation-duration: 1s;
  animation-delay: 2s;
}

#carousel .caption a {
  animation-duration: 1s;
  animation-delay: 2.4s;
}

/* Button */
.delicious-btn {
  background-color: #e30047;
  color: white;
  padding: 10px 25px;
  border-radius: 3px;
  border: 2px solid #e30047;
  font-weight: 500;
  transition: 0.4s;
}
.delicious-btn:hover {
  color: white;
  background-color: transparent;
}

/* Hero Slider Section Css End */

/* Course Areea Css Start  ********************************/
.course-area {
}
.course-area .course-item .item-head {
  position: relative;
}

.course-area .course-item .item-body {
  padding: 40px 20px;
}
.course-area .course-item .item-body h2 {
  font-size: 24px;
}
.course-area .course-item .item-body p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: #818181;
}
.course-area .course-item .item-body button {
  background-color: #e30047;
  color: white;
  padding: 8px 25px;
  border-radius: 3px;
  border: 2px solid #e30047;
  font-weight: 500;
  transition: 0.4s;
}
.course-area .course-item .item-body button:hover {
  color: #e30047;
  background-color: transparent;
}
.course-area .course-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.course-area .course-item .chefs-name h4 {
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  padding: 10px 30px;
  z-index: 2;
  background-color: #e30048a0;
  color: #fff;
  font-size: 1rem;
  font-family: "poppins";
}

/* Course Areea Css End */

/* Offer Area Css Start ************************************ */
.oferArea {
  background-color: #20252b;
}
.oferArea button {
  background-color: #e30047;
  color: white;
  padding: 10px 25px;
  border-radius: 3px;
  border: 2px solid #e30047;
  font-weight: 500;
  transition: 0.4s;
  font-size: 17px;
}
.oferArea button:hover {
  color: white;
  background-color: transparent;
}
/* Offer Area Css End */

/* Footer Css Start ********************************** */
.footer-area {
  padding: 100px 0;
  background: url("../img//bg/footer.png") no-repeat;
  background-position: center;
  background-size: cover;
}
.footer-area .footer-item {
  padding: 5px 20px 0px 20px;
}
.footer-area .footer-item.border-right {
  border-right: 1px solid #1c2134;
}

.footer-area .footer-item p {
  text-align: left;
  color: #f5f5f5;
  font-family: "Work Sans", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.footer-area .footer-item h4 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 15px;
}

.footer-area .footer-item ul.social li a {
  color: #747681;
  display: inline-flex;
  background-color: #1d2234;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin-right: 7px;
  font-size: 19px;
  transition: 0.4s;
}

.footer-area .footer-item ul.social li a:hover {
  background-color: #e30047;
  color: #fff;
}

.footer-area .footer-item ul.footer-menu li {
  display: block !important;
}

.footer-area .footer-item ul.footer-menu li a {
  color: #f5f5f5;
  font-family: "Work Sans", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: block !important;
  margin: 0px 0px 10px 0px;
  transition: 0.4s;
}

.footer-area .footer-item ul.footer-menu li a:hover {
  color: #e30047;
}

.footer-area .footer-item .info-item i {
  color: #e30047;
  font-size: 19px;
}
.footer-area .footer-item .info-item span {
  color: #f5f5f5;
  font-family: "Work Sans", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: block !important;
  margin: 0px 0px 10px 0px;
  transition: 0.4s;
}

/* mobail-footer-area *********************************** */
.mobail-footer-area {
  z-index: 98;
  position: fixed;
  bottom: 25px;
  left: 0;
  width: 100%;
  margin: 0px;
}

.mobail-footer-area .mobail-footer-item a {
  font-family: "Poppins", sans-serif;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  box-shadow: 2px 3px 5px 0px rgb(0 0 0 / 30%);
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  border: 4px solid rgba(255, 255, 255, 0);
  text-align: center !important;
  transition: 0.3s;
}

.mobail-footer-area .mobail-footer-item a:hover {
  color: #e30047;
}

.mobail-footer-area .mobail-footer-item a img {
  height: 20px;
  width: 20px;
  object-fit: cover;
}

/* mobail-footer-area*/

/* custom style  start */

.commonBtn {
  background-color: #e30047;
  color: white;
  padding: 10px 25px;
  border-radius: 3px;
  border: 2px solid #e30047;
  font-weight: 500;
  transition: 0.4s;
}
.commonBtn:hover {
  color: #e30047;
  background-color: transparent;
  cursor: pointer;
}

.main-menu ul li a {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 10px;
  transition: 0.4s;
}
.main-menu ul li a:hover {
  color: #e30047;
}

.body-shadow {
  box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.08),
    0 1px 3px 1px rgba(60, 64, 67, 0.16);
}

.call-btn {
  background-color: #e30047;
  color: white;
  padding: 10px 25px;
  border-radius: 3px;
  border: 2px solid #e30047;
  font-weight: 500;
  transition: 0.4s;
}

/* custom style   end*/

/* About Page CSS */
.about-area {
  margin-bottom: 100px !important;
}

.about-area .about-heading h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
}
.about-area .about-heading p {
  color: #7a7a7a;
  padding: 10px 0;
}

.about-area .about-content p {
  color: #7a7a7a;
  padding: 10px 0;
}
.about-area .about-content h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
}
.about-area .about-content span {
  font-size: 16px;
  font-weight: 500;
  color: #e30047;
  display: block;
  margin-bottom: 10px;
}
/* About Page CSS */

/* Contact Page CSS */
.contact-location a:hover {
  color: #000;
}
.contact-location .icon {
  background-color: #e30047;
  height: 40px;
  width: 45px;
  line-height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
}

.contact-location .icon i {
  fill: #fff;
  color: #fff;
  font-size: 20px;
}
/* Contact Page CSS */
