/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

/* default css */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  position: relative;
}
a {
  text-decoration: none !important;
  color: black;
  font-family: "Roboto", sans-serif;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

li {
  display: inline-block;
  list-style: none;
}
button {
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

/*  default css */

/* Header Css Start */
.header-area {
  padding: 20px 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  overflow: hidden;
  margin: auto;
}

.header-area .main-menu ul li a {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 10px;
  transition: 0.4s;
}
.header-area .main-menu ul li a:hover {
  color: #e30047;
}

.header-area .nav-btn {
  background-color: #e30047;
  color: white;
  padding: 10px 25px;
  border-radius: 3px;
  border: 2px solid #e30047;
  font-weight: 500;
  transition: 0.4s;
}
.header-area .nav-btn:hover {
  color: #e30047;
  background-color: transparent;
}

/* Header Css End */

/* Footer Css Start */
.footer-area {
  padding: 100px 0;
  background: url("../img//bg/footer.png") no-repeat;
  background-position: center;
  background-size: cover;
}
.footer-area .footer-item {
  padding: 5px 20px 0px 20px;
}
.footer-area .footer-item.border-right {
  border-right: 1px solid #1c2134;
}

.footer-area .footer-item p {
  text-align: left;
  color: #f5f5f5;
  font-family: "Work Sans", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.footer-area .footer-item h4 {
  color: #ffffff;
  font-family: "Work Sans", Sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 15px;
}

.footer-area .footer-item ul.social li a {
  color: #747681;
  display: inline-flex;
  background-color: #1d2234;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin-right: 7px;
  font-size: 19px;
  transition: 0.4s;
}

.footer-area .footer-item ul.social li a:hover {
  background-color: #e30047;
  color: #fff;
}

.footer-area .footer-item ul.footer-menu li {
  display: block !important;
}

.footer-area .footer-item ul.footer-menu li a {
  color: #f5f5f5;
  font-family: "Work Sans", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: block !important;
  margin: 0px 0px 10px 0px;
  transition: 0.4s;
}

.footer-area .footer-item ul.footer-menu li a:hover {
  color: #e30047;
}

.footer-area .footer-item .info-item {
}
.footer-area .footer-item .info-item i {
  color: #e30047;
  font-size: 19px;
}
.footer-area .footer-item .info-item span {
  color: #f5f5f5;
  font-family: "Work Sans", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: block !important;
  margin: 0px 0px 10px 0px;
  transition: 0.4s;
}

/* footer-bottom */
.footer-bottom {
  background-color: #04091e;
  border-top: 1px solid #1c2134;
  padding: 20px 0;
}
.footer-bottom span {
  display: block;
  text-align: center;
  color: #ffffff;
  font-family: "Work Sans", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* Footer Css End */

/* mobail-footer-area */
.mobail-footer-area {
  z-index: 98;
  position: fixed;
  bottom: 25px;
  left: 0;
  width: 100%;
  margin: 0px;
}

.mobail-footer-area .mobail-footer-item a {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  box-shadow: 2px 3px 5px 0px rgb(0 0 0 / 30%);
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  border: 4px solid rgba(255, 255, 255, 0);
  text-align: center !important;
  transition: 0.3s;
}

.mobail-footer-area .mobail-footer-item a:hover {
  color: #e30047;
}

.mobail-footer-area .mobail-footer-item a img {
  height: 20px;
  width: 20px;
  object-fit: cover;
}

/* mobail-footer-area*/
